.features{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 1rem
}

.feature_title{
    flex: 1;
    max=width: 100px;
    margin-right: 2rem;
}

.feature_title h1 {
    font-family: var(--font-family);
    color: #fff;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.04rem;
}


.feature_title_div{
    width: 38px;
    height: 3px;
    background: var(--gradient-bar);
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    margin-bottom: 0.25rem;
}



.feature_text{
    flex: 2;
    max-width: 390px;
    display: flex;

}

.feature_text p {
    font-family: var(--font-family);
    color: var(--color-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}



@media screen and (max-width: 550px) {
    .feature_title h1 {
        font-size: 14px;
        line-height: 22px;
    }

    .feature_text p {
        font-size: 12px;
        line-height: 20px;
    }

    .feature {
        margin: 1rem 0;
    }
}